#banner {
  background-image: linear-gradient(
      to top left,
      rgba(0, 0, 0, 0.6) 30%,
      rgba(0, 0, 0, 0.2) 70%
    ),
    url("../assets/images/coffee_image.png");
  height: 100vh;
  position: relative;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  padding: 0 2rem;
  overflow: hidden;
  z-index: 1;
}

.banner-content {
  color: var(--color-white);
  gap: 1rem;
  width: 95%;
  margin: 0 auto;
}

.banner-text {
  max-width: 600px;
  font-family: var(--font-family-primary);
  font-size: 1.4rem;
  font-weight: medium;
  margin-bottom: 1rem;
}

.banner-text-highlight {
  font-family: var(--font-family-secondary);
  font-size: 13rem;
  font-weight: 100;
}

@media (max-width: 800px) {
  .banner-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 600px) {
  .banner-text {
    font-size: 16.5px;
  }
  .banner-text-highlight {
    font-size: 165px;
  }
}
