#feedbacks {
  width: 95%;
  margin: 0 auto;
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  gap: 1rem;
  background-color: var(--color-white);
  min-height: 70vh;

  @media screen and (max-height: 700px) {
    min-height: 100vh;
  }
}

.feedbacks-title {
  font-family: var(--font-family-primary);
  font-size: 3.3rem;
  font-weight: bold;
  color: var(--color-brown);
  text-align: center;
}

.feedbacks-subtitle {
  font-family: var(--font-family-primary);
  font-size: 1.25rem;
  font-weight: 100;
  color: var(--color-gray);
  text-align: center;
  line-height: 34px;
}

.feedbacks-coffee-blast-right {
  position: absolute;
  top: 100px;
  right: -2%;
  z-index: 10;
}

.feedbacks-coffee-blast-left {
  position: absolute;
  bottom: -20px;
  left: -3%;
}

.feedbacks-container-content {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 4rem;
}

.feedbacks-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  flex: 1;
  border: 1px solid var(--color-yellow);
  background-color: #fff9f1;
  padding: 2rem;
  position: relative;
  margin-bottom: 3rem;
  max-width: 1400px;
}

.feedbacks-text-highlight {
  font-size: 220px;
  color: var(--color-brown);
  font-weight: bold;
  font-family: var(--font-family-primary);
  line-height: 60px;
  align-self: flex-start;
  margin-top: 2rem;
}

.feedbacks-text,
.feedbacks-text-user-profession {
  font-family: var(--font-family-primary);
  font-size: 1.25rem;
  font-weight: 500;
  color: var(--color-gray);
  text-align: center;
  line-height: 36px;
  align-self: center;
  margin-top: 2rem;
  max-width: 780px;
}

.feedbacks-text-name-user {
  font-family: var(--font-family-primary);
  font-size: 2rem;
  font-weight: bold;
  color: var(--color-brown);
  text-align: center;
  line-height: 36px;
  align-self: center;
  margin-top: 2rem;
}

.feedbacks-text-user-profession {
  font-weight: 100;
  margin-top: 0;
  margin-bottom: 2.5rem;
}

.feedbacks-container-image-user {
  width: 112px;
  height: 112px;
  border-radius: 1rem;
  position: absolute;
  bottom: -51px;
  z-index: 3;
}

.feedbacks-container-image-user img {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  object-fit: cover;
}

@media (max-width: 800px) {
  .feedbacks-title {
    text-align: center;
  }
  .feedbacks-coffee-blast-left {
    display: none;
  }
  .feedbacks-coffee-blast-right {
    display: none;
  }
}

.glider {
  margin: 0 auto;
}

.glider-prev,
.glider-next {
  position: absolute;
  background-color: var(--color-yellow) !important;
  border-radius: 16px;
  position: absolute;
  top: 50% !important;
  transform: translateY(-50%);
  width: 82px;
  height: 82px;
  color: var(--color-brown) !important;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 2;
  font-size: 18px;
}

.glider-prev:hover,
.glider-next:hover {
  cursor: pointer;
}

.glider-prev {
  left: 10px;
}

.glider-next {
  right: 10px;
}

.glider-dots {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 8px;
}

.glider-dot {
  width: 10px;
  height: 10px;
  background-color: #bbb;
  border-radius: 50%;
  cursor: pointer;
}

.glider-dot.active {
  background-color: #333;
}
