#products {
  width: 95%;
  margin: 0 auto;
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  background-color: var(--color-white);
  min-height: 70vh;
}

.products-title {
  font-family: var(--font-family-primary);
  font-size: 3.3rem;
  font-weight: bold;
  color: var(--color-brown);
}

.products-subtitle {
  font-family: var(--font-family-primary);
  font-size: 1.25rem;
  font-weight: 100;
  color: var(--color-gray);
  line-height: 34px;
}

.products-list-cards {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  width: 100%;
  margin: 1rem 0;
  flex: 1;
  align-items: stretch !important;
  justify-content: stretch !important;
}

.products-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  min-height: 100%;
  position: relative;
  padding: 5px;
}

.products-card-image {
  width: 100%;
  object-fit: cover;
}

.products-card-informations {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 100%;
  border: 1px solid var(--color-yellow);
  background-color: #fff9f1;
  padding: 1rem;
  flex-grow: 1;
}

.products-card-title {
  font-family: var(--font-family-primary);
  font-size: 1.4rem;
  font-weight: bold;
  color: var(--color-brown);
}

.products-card-text {
  font-family: var(--font-family-primary);
  font-size: 1rem;
  font-weight: normal;
  color: var(--color-text-button);
}

.products-card-price {
  font-family: var(--font-family-primary);
  font-size: 1.12rem;
  font-weight: bold;
  color: var(--color-brown);
  padding-bottom: 1rem;
}

.products-card-button-order-now {
  position: absolute;
  bottom: -20px;
}

.products-card-title,
.products-title,
.products-subtitle,
.products-card-text,
.products-card-price {
  text-align: center;
}

@media (max-width: 800px) {
  #products {
    min-height: auto;
  }
  .products-list-cards {
    display: none;
  }
}
@media (max-width: 600px) {
  .products-title {
    font-size: 40.5px;
    text-align: center;
  }
  .products-subtitle {
    text-align: center;
    font-size: 15px;
  }
}
