* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Playfair Display";
  src: url("./fonts/PlayfairDisplay/PlayfairDisplay-Regular.woff2")
    format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Playfair Display";
  src: url("./fonts/PlayfairDisplay/PlayfairDisplay-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Clicker Script";
  src: url("./fonts/ClickerScript/ClickerScript-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

:root {
  --color-white: #fff;
  --color-brown: #603809;
  --font-family-primary: "Playfair Display", serif;
  --font-family-secondary: "Clicker Script", cursive;
}
